assets/1x/jokers.png~
assets/1x/jokers.kra
assets/1x/jokers.kra~
assets/1x/blinds.kra
assets/1x/blinds.kra~
assets/1x/blinds.png~

assets/1x/project.kra
assets/1x/project.kra~
assets/1x/blinds.kra~

assets/2x/jokers.png~
assets/2x/jokers.kra
assets/2x/jokers.kra~
assets/2x/project.kra
assets/2x/project.kra~
assets/notes.txt

.vscode
wewew.log